// ====================================
// Dropdown Settings
$dropdown-styles: (
  color: $primary,
  icon-color: $primary,
  background-color: $white,
  border-color: #ccc,
  border-width: 1px
);
$dropdown-triangle-styles: (
  width: 15px,
  height: 6px
);
