// ====================================
// LISTS
ul {
  list-style-type: map-get($list-styles, list-style-type);
}
ul,
ol {
  line-height: map-get($list-styles, line-height);
}

.list--unstyled {
  padding-left: 0;
  list-style: none;
}

.list {
  padding-left: 0;
  margin-bottom: modular-scale(1);
  color: map-get($list-styles, color);
  list-style: none;

  a {
    display: block;
    color: inherit;
  }
}

.list__item {
  position: relative;
  display: block;
  padding: ($grid-gutter-width / 4) ($grid-gutter-width / 2);
  margin-bottom: -(map-get($list-styles, border-width));
  border: map-get($list-styles, border-width) solid map-get($list-styles, border-color);

  &:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .list--arrows &:after {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: modular-scale(2);
    color: map-get($list-styles, color);
    content: '›';
    transform: translateY(-50%);
  }

  .list--hover &:hover {
    background-color: darken(map-get($list-styles, background-color), 20%);
  }
}
