// ====================================
// Tables

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: modular-scale(1);
  border-collapse: collapse;
  border-radius: $border-radius;
}

.table--bordered {
  th, td {
    border: map-get($table-styles, border-width) solid map-get($table-styles, border-color);
  }
  thead {
    th {
      border-bottom: (map-get($table-styles, border-width) + 1) solid map-get($table-styles, border-color);
    }
  }
}

.table--underlined {
  th,
  td {
    border-bottom: map-get($table-styles, border-width) solid map-get($table-styles, border-color);
  }
}

.table--padded {
  th,
  td {
    padding: map-get($table-styles, padding-vertical) map-get($table-styles, padding-horizontal);
  }
}

.table--striped {
  tbody tr:nth-of-type(odd) {
    background-color: darken(map-get($table-styles, background-color), 15%);
  }
}

.table--hover {
  tbody tr {
    &:hover {
      background-color: darken(map-get($table-styles, background-color), 20%);
    }
  }
}

// WRAPPER CLASS FOR RESPONSIVE TABLES
.table--responsive {
  display: block;
  width: 100%;
  min-height: 1px;
  overflow-x: auto;
}
