// ====================================
// Tables

$table-styles: (
  background-color: $white,
  border-color: $secondary,
  border-width: 1px,
  padding-vertical: 5px,
  padding-horizontal: 10px
);
